.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

body
{
    background: rgb(0,255,239);
    background: linear-gradient(90deg, rgba(0,255,239,1) 0%, rgba(0,206,255,1) 25%, rgba(9,119,213,1) 50%, rgba(69,116,252,1) 75%, rgba(118,69,252,1) 100%);
}